<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PwdCrack.PwdCrackSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <PwdCrack.PwdCrackSettings>
            <setting name="DBPath" serializeAs="String">
                <value>d:\passwords</value>
            </setting>
            <setting name="BruteForceCharacterSet" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="BruteForceShellOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BruteForceConcat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BruteForceUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BruteForceCapitalize" serializeAs="String">
                <value>True</value>
            </setting>
        </PwdCrack.PwdCrackSettings>
    </userSettings>
</configuration>
